<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" lang="ru" content=" Создание сайтов для малого и среднего бизнеса. Разработка сайтов. Верстка сайтов. Создание Landing Page, корпоративных сайтов, сайты на WordPress. Создать интернет магазин. " />
    
    <!-- <link rel="stylesheet" href="css/slick.css"> -->
    <link rel="shortcut icon" type="image/png" href="img/"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="css/preloader.css">
    <link media="none" onload="media='all'" rel="stylesheet" type="text/css", href="css/style.min.css">
    <title>Создание сайтов</title>
</head>
<body>
    <div class="preloader">
        <div class="wrapper">
            <img class="circle circle-1" src="img/sushi-pre1.png"></img>
            <img class="circle circle-1a" src="img/sushi-pre1.png"></img>
            <img class="circle circle-2" src="img/sushi-pre1.png"></img>
            <img class="circle circle-3" src="img/sushi-pre1.png"></img>
          </div>
          <h1>Загружаемся&hellip;</h1>
    </div>
    <header class="header">
        <div class="header-navigation">
            <div class="header-navigation_logo">
                <img class="lazy" data-src="img/logo1.png" alt="">
            </div>
            <nav class="header-navigation_menu">
                <img class="lazy header-navigation_menu-logo" data-src="img/logo1.png" alt="">
                <ul id="menu">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="menu.html">Меню</a></li>
                    <li><a href="delivery.html">Доставка</a></li>
                    <li><a href="news.html">Новости и акции</a></li>
                </ul>
                <div class="header-navigation_menu-close">
                    <img class="img-svg" src="img/close.svg" alt="">
                </div>
            </nav>
            <div class="header-navigation_social">
                <div class="header-navigation_social-phone">
                    <a class="hide" href="tel:+380637729864"> 063 772 98 64</a>
                    <a  href="tel:+3800683084025"><img class="img-svg" src="img/phone.svg" alt=""> 068 308 40 25</a>
                    <a class="hide" href="tel:+3800993929074">099 392 90 74</a>
                </div>
                <div class="header-navigation_social-cites">
                    <a href="#"><span>Наш инстаграм</span><img class="img-svg" src="img/instagram-sketched.svg" alt=""></a>
                </div>
            </div>
            <div class="header-navigation_mobile">
                <div class="header-navigation_mobile-inst">
                    <img class='img-svg' src="img/instagram-sketched.svg" alt="">
                </div>
                <div class="header-navigation_mobile-phone mobile-show">
                    <img class='img-svg' src="img/phone.svg" alt="">
                    <div class="header-navigation_mobile-phone_block">
                        <a href="tel:+380637729864"> 063 772 98 64</a>
                        <a href="tel:+3800683084025"> 068 308 40 25</a>
                        <a href="tel:+3800993929074">099 392 90 74</a>
                    </div>
                </div>
                <div class="header-navigation_mobile-humburger">
                    <img class='img-svg' src="img/open-menu.svg" alt="">
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="main-menu">
            <div class="main-menu_item">
                <img class="img-svg" src="img/roll.svg" alt="">
                <a href="#">Роллы</a>
            </div>
            <div class="main-menu_item">
                <img class="img-svg" src="img/sushi.svg" alt="">
                <a href="#">Cуши</a>
            </div>
            <div class="main-menu_item">
                <img class="img-svg" src="img/ramen.svg" alt="">
                <a href="#">Закуски</a>
            </div>
            <div class="main-menu_item">
                <img class="img-svg" src="img/drink.svg" alt="">
                <a href="#">Напитки</a>
            </div>
        </div>
        <div class="main-basket">
            <img class="img-svg" src="img/basket.svg" alt="">
        </div>
        <div class="main-content">
            <div class="main-content_card">
                <div class="main-content_card-block">
                    <div class="main-content_card-img">
                        <img src="img/maki.jpeg" alt="">
                    </div>
                    <div class="main-content_card-info">
                        <span class="main-content_card-info_title">
                            Филадельфия с лоссосем
                        </span>
                        <div class="main-content_card-info_weight">
                            Вес: <span>320 г.</span>
                        </div>
                        <div class="main-content_card-info_make">
                            Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                        </div>
                        <div class="main-content_card-info_buy">
                            <div class="main-content_card-info_price">
                                345 грн. <span class="main-content_card-info-gram">320 г</span>
                            </div>
                            <button class="main-content_card-info_btn">
                                В корзину
                            </button>
                        </div>
                        <div class="main-content_card-info_delivery">
                            <img class="img-svg" src="img/delivery.svg" alt="">
                            <span>
                                Бесплатная доставка при заказе на сумму от 350 грн.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="main-content_card-recomendation">
                    <div class="main-content_card-recomendation_drink">
                        <div class="main-content_card-recomendation_drink-title">
                            Рекомендуем напитки к данному блюду:
                        </div>
                        <div class="main-content_card-recomendation_drink-slider">
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content_card-recomendation">
                    <div class="main-content_card-recomendation_snacks">
                        <div class="main-content_card-recomendation_snacks-title">
                            Рекомендуем попробовать:
                        </div>
                        <div class="main-content_card-recomendation_snacks-slider">
                            <div class="main-content_card-recomendation_snacks-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content_card-recomendation_drink-slider_item">
                                <div class="main-content_block-item">
                                    <img src="img/maki.jpeg" alt="">
                                    <div class="main-content_block-item_title">
                                        <span class="main-content_block-item_title-main">
                                            Филадельфия с лоссосем
                                        </span>
                
                                        <span class="main-content_block-item_title-span">
                                            320 г
                                        </span>
                                    </div>
                                    <div class="main-content_block-item_make">
                                        Cостав: нори, огурец, рис, сыр сливочный, кунжут, соус унаги, угорь
                                    </div>
                                    <div class="main-content_block-item_buy">
                                        <div class="main-content_block-item_price">
                                            345 грн. <span class="main-content_block-item_price-gram">320 г</span>
                                        </div>
                                        <button class="main-content_block-item_btn">
                                            В корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-offer">
            <div class="main-offer_ttl">
                <h3 class="main-offer_title">
                    Ваш заказ
                </h3>
                <div class="main-offer_ttl-item">
                    <img class="img-svg basket-close" src="img/arrow.svg" alt="">
                </div>
            </div>
            <div class="main-offer_list">
                <div class="main-offer_list-item">
                    <div class="main-offer_list-info">
                        <div class="main-offer_list-title">
                            Филадельфия с лоссосем
                        </div>
                        <!-- <div class="main-offer_list-calc">
                            1
                        </div> -->
                    </div>
                    <img src="img/fila.png" alt="">
                    <div class="main-offer_list-close">
                        <img class="img-svg" src="img/close.svg" alt="">
                    </div>
                </div>
                <div class="main-offer_list-item">
                    <div class="main-offer_list-info">
                        <div class="main-offer_list-title">
                            Филадельфия с лоссосем
                        </div>
                        <!-- <div class="main-offer_list-calc">
                            2
                        </div> -->
                    </div>
                    <img src="img/fila.png" alt="">
                    <div class="main-offer_list-close">
                        <img class="img-svg" src="img/close.svg" alt="">
                    </div>
                </div>
            </div>
            <form class="main-form" action="send.php" method="post">
                <div class="main-form_contact">
                    <h3 class="main-form_contact-title">Личные данные</h3>
                    <div class="main-form_contact-label">
                        Имя<span>*</span>
                    </div>
                    <input required type="text" class="main-form_contact-input">
                    <div class="main-form_contact-label">
                        Телефон<span>*</span>
                    </div>
                    <input required type="text" class="main-form_contact-input">
                </div>
                <div class="main-form_destination">
                    <h3 class="main-form_destination-title">
                        Доставка
                    </h3>
                    <div class="main-form_destination-subtitle">
                        <a href="#"><img class="img-svg" src="img/info.svg" alt=""></a> <span>Детальнее о доставке</span>
                    </div>
                    <div class="main-form_destination-flex">
                        <div class="main-form_destination-flex_item">
                            <div class="main-form_destination-label">
                                Улица<span>*</span>
                            </div>
                            <input required type="text" class="main-form_destination-input">
                        </div>
                        <div class="main-form_destination-flex_item">
                            <div class="main-form_destination-label">
                                Дом<span>*</span>
                            </div>
                            <input required type="text" class="main-form_destination-input">
                        </div>
                        <div class="main-form_destination-flex_item">
                            <div class="main-form_destination-label">
                                Подьезд
                            </div>
                            <input type="text" class="main-form_destination-input">
                        </div>
                        <div class="main-form_destination-flex_item">
                            <div class="main-form_destination-label">
                                Корпус
                            </div>
                            <input type="text" class="main-form_destination-input">
                        </div>
                        <div class="main-form_destination-flex_item">
                            <div class="main-form_destination-label">
                                Квартира
                            </div>
                            <input type="text" class="main-form_destination-input">
                        </div>
                        <div class="main-form_destination-flex_item">
                            <div class="main-form_destination-label">
                                Этаж
                            </div>
                            <input type="text" class="main-form_destination-input">
                        </div>
                    </div>
                </div>
                <div class="main-form_payment">
                    <h3 class="main-form_payment-title">
                        Способ оплаты
                    </h3>
                    <div class="main-form_payment-check">
                        <input type="radio" checked id="cash" name="cash">
                        <label for="cash">Наличными курьеру</label>
                    </div>
                    <div class="main-form_payment-check">
                        <input type="radio" id="card" name="cash">
                        <label for="card">Оплата картой на сайте</label>
                    </div>
                    <div class="main-form_payment-back">
                        <div class="main-form_payment-label">
                            Подготовить сдачу с
                        </div>
                        <input type="text" class="main-form_payment-input">
                    </div>
                </div>
                <div class="main-form_comment">
                    <h3 class="main-form_comment-title">Комментарий</h3>
                    <div class="main-form_comment-label">
                        Количество персон
                    </div>
                    <select class="main-form_comment-select"> 
                        <option>1 человек</option> 
                        <option>2 человека</option> 
                        <option>3 человека</option> 
                        <option>4 человека</option> 
                        <option>5 человек</option> 
                        <option>Больше 5 человек</option> 
                    </select>
                    <div class="main-form_comment-label">
                        Примечание к заказу
                    </div>
                    <textarea type="text" class="main-form_comment-textarea"></textarea>
                </div>
                <div class="main-form_price">
                    <div class="main-form_price-description">
                        Минимальная сумма заказа 350 грн
                    </div>
                    <div class="main-form_price-flex">
                        <div class="main-form_price-total">
                            Итого: <span>2000 грн</span>
                        </div>
                        <button class="main-form_price-btn" type="submit">Оформить заказ</button>
                    </div>
                </div>
            </form>
            
        </div>
    </section>
    <footer class="footer">
        <div class="footer-img">
            <img class="footer-content_logo" src="img/logo3.png" alt="logo">
            <div class="footer-img_text">
                Для тех <br> кто ценит качество
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-content_text footer-content_tel">
                Телефон:
            </div>
            <a href="tel:+380637729864">+38 (063) 772 98 64</a>
            <a href="tel:+3800683084025">+38 (068) 308 40 25</a>
            <a href="tel:+380993929074">+38 (099) 392 90 74</a>
            <div class="footer-content_text footer-content_inst">
                Инстаграм:  <a class="footer-content_inst-link" href="https://www.instagram.com/red.panda.sushi/?hl=uk"><img class="img-svg" src="img/instagram-sketched.svg" alt=""></a>
            </div>
        </div>
        <div class="footer-uslugi">
            <div class="footer-uslugi_title">
                Услуги
            </div>
            <div class="footer-uslugi_link">
                <a href="">Главная</a>
                <a href="">Меню</a>
                <a href="">Доставка</a>
                <a href="">Новости и акции</a>
            </div>
        </div>
    </footer>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js" defer></script>
    <script src="js/main.js"></script>
</body>
</html>